<launch>

<node pkg="tf" type="static_transform_publisher" name="scan_tf_broadcaster"
        args="-0 0 0 0 0 0 velodyne base_scan 100" />
		
<node pkg="tf" type="static_transform_publisher" name="base_link_tf_broadcaster"
        args="-0 0 0 0 0 0 base_footprint base_link 100" />

<node pkg="tf" type="static_transform_publisher" name="bl_to_vd_broadcaster"
        args="-0.07 0.07 0.147 0 0 0 base_link velodyne 100" />
</launch>
